.App {
  text-align: center;
  font-size: 30px;
}

.title {
  background-color: rgb(142, 230, 230);
  margin: 0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.key-word {
  color: darkgreen;
}

.key-task {
  color: purple;
}

.task-list {
  display: inline-block;
  list-style: none;
}

.each-task {
  list-style: none;
}

.check-box {
  display: inline-flex;
  transform: scale(2);
  justify-items: center;
  margin: 1em;
  box-shadow: 1, 1, 1, 20px;
}

.task-text {
  display: inline-flex;
}

.task-form {
  padding: 25px;
  background-color: rgb(226, 186, 94);
  display: block;
}

.input-label {
  font-weight: bold;
}

.task-input {
  padding: 15px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

.button {
  font-size: 1em;
  padding: 10px 10px;
}

.popup-image {
  object-fit: cover;
}

.added-task {
}
