.App {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#rollButton {
  background-color: orangered;
  color: white;
  font-size: 25px;
  width: 250px;
  padding: 15px 32px;
  margin: 4px 25px;
  text-align: center;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
}

#specialMessage {
  font-style: italic;
}

#rollResult {
  display: block;
  justify-content: center;
  font-size: 25px;
  padding: 50px;
  align-items: center;
}

#rollNumber {
  display: block;
  padding: 50px;
  font-size: 2rem;
  font-weight: bold;
  box-sizing: border-box;
}
